/*
@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.jsdelivr.net/gh/IdreesInc/Monocraft@main/dist/Monocraft-ttf/Monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

:root {
    --primary-color: #09001d;
    --accent-color-light: #220071;
    /*--hover-color: #272832;*/
    /*--accent-color: #0071ff;*/
    --text-color: #c9c9c9;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: clamp(1rem, 0.7rem + 0.5vw, 2rem);
    color: var(--text-color);
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--primary-color);
}

.app {
    display: grid;
    grid-template-columns: max(15vw, 200px) 1fr;
    height: 100vh;
}

.sidebar {
    background: linear-gradient(to left, var(--accent-color-light), 1%, var(--primary-color) 15%);
    /*padding: 0.8rem;*/
    padding: clamp(0.8rem, 0.8rem, 16px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-title {
    font-weight: 600;
    margin-bottom: 1rem;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, var(--accent-color-light) 30%, transparent 75%) 1;
    padding-bottom: 0.3rem;
}

.section-title {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.thumb-grid {
    /*padding: 0.5rem;*/
    /*padding: 8px;*/
    border: 4px solid var(--accent-color-light);
    border-radius: 0.7em;
    corner-shape: squircle;
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));*/
    grid-template-columns: repeat(auto-fit, 70px);
    /*gap: 0.5rem;*/
    flex: 1;
    align-content: flex-start;
    justify-content: space-evenly;
}

.thumb {
    border: 1px solid grey;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    /*width: 70px;*/
    height: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb-number {
    position: absolute;
    bottom: 3px;
    left: 4px;
    font-size: 0.7rem;
    color: #000;
    text-shadow: 0 0 3px #fff;
}

.sidebar-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.sidebar-buttons button {
    padding: 0.3rem 0.8rem;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    /*gap: 0.6rem;*/
    background: linear-gradient(to right, var(--accent-color-light), 1%, var(--primary-color) max(7%, 50px));
}

.preview-panel {
    display: grid;
    grid-template-columns: 1fr 200px;
    /*background: #dedede;*/
    flex: 1;
    /*padding: 1rem;*/
    /*gap: 0;*/
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    /*padding-right: 1rem;*/
    border: 4px solid var(--accent-color-light);
    border-left: 0;
    border-radius: 0 0.7em 0.7em 0;
    corner-shape: squircle;
    /*padding: 0.5rem;*/
}

#playBtn {
    /*padding: 0.4rem 0.9rem;*/
    cursor: pointer;
    margin: auto;
    margin-bottom: 0.5rem;
    padding: 0.4rem 2.5rem;
}

.selected-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-left: 1rem;*/
}

#onionCanvas {
    width: 100%;
    height: 100%;
    background: black;
}

.carousel {
    margin-top: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 130px;
    position: relative;
    gap: 10px;
}

.carousel-item {
    position: relative;
    background: lightgray;
    border: 1px solid darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel-item.center {
    width: 140px;
    height: 110px;
    z-index: 3;
}

.carousel-item.side {
    width: 110px;
    height: 90px;
    z-index: 2;
}

.carousel-item.outer {
    width: 90px;
    height: 80px;
    z-index: 1;
}

.carousel-thumb {
    width: 80%;
    height: 70%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-number {
    position: absolute;
    bottom: 3px;
    left: 5px;
    font-size: 0.9rem;
}