/*
@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.jsdelivr.net/gh/IdreesInc/Monocraft@main/dist/Monocraft-ttf/Monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body, html {
    height: 100%;
}

.app {
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100vh;
}

.sidebar {
    background: #e2e2e2;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-title {
    font-weight: 600;
    margin-bottom: 1rem;
    border-bottom: 1px solid #000;
    padding-bottom: 0.5rem;
}

.section-title {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.thumb-grid {
    background: #d4d4d4;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(3, 70px);
    gap: 10px;
    flex: 1;
    align-content: flex-start;
}

.sidebar-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.sidebar-buttons button {
    padding: 0.3rem 0.8rem;
    cursor: pointer;
}

.main {
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    padding: 0.8rem 1.2rem 1.2rem;
    gap: 0.6rem;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
}

#playBtn {
    padding: 0.4rem 0.9rem;
    cursor: pointer;
}

.preview-panel {
    display: grid;
    grid-template-columns: 200px 1fr;
    background: #dedede;
    flex: 1;
    padding: 1rem;
    gap: 1rem;
}

.selected-wrapper {
    background: #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    margin-top: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 130px;
    position: relative;
}