/*
@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.jsdelivr.net/gh/IdreesInc/Monocraft@main/dist/Monocraft-ttf/Monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

:root {
    --primary-color: #11121a;
    --hover-color: #272832;
    --accent-color: #0071ff;
    --text-color: #c9c9c9;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: clamp(1rem, 1rem + 0.5vw, 2rem);
    color: var(--text-color);
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--primary-color);
}

.app {
    display: grid;
    grid-template-columns: max(15vw, 280px) 1fr;
    height: 100vh;
}

.sidebar {
    background: linear-gradient(to left, #220071, 1%, #09001d 15%) ;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-title {
    font-weight: 600;
    margin-bottom: 1rem;
    border-bottom: 4px solid;
    border-image: linear-gradient(to right, #220071 30%, #09001d 80%) 1;
    padding-bottom: 0.3rem;
}

.section-title {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.thumb-grid {
    /*background: lightgray;*/
    border: 4px solid #220071;
    border-radius: 0.7em;
    corner-shape: squircle;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 70px);
    gap: 0.5rem;
    flex: 1;
    align-content: flex-start;
}

.thumb {
    border: 1px solid grey;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb-number {
    position: absolute;
    bottom: 3px;
    left: 4px;
    font-size: 0.7rem;
    color: #000;
    text-shadow: 0 0 3px #fff;
}

.sidebar-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.sidebar-buttons button {
    padding: 0.3rem 0.8rem;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 1.2rem 1.2rem;
    gap: 0.6rem;
    background: linear-gradient(to right, #220071, 1%, #09001d max(7%, 50px));
}

.top-bar {
    display: flex;
    justify-content: flex-end;
}

#playBtn {
    padding: 0.4rem 0.9rem;
    cursor: pointer;
}

.preview-panel {
    display: grid;
    grid-template-columns: 200px 1fr;
    background: #dedede;
    flex: 1;
    padding: 1rem;
    gap: 0;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-right: 1rem;
}

.selected-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid black;
    padding-left: 1rem;
}

#onionCanvas {
    width: 100%;
    height: 100%;
    background: darkgray;
}

.carousel {
    margin-top: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 130px;
    position: relative;
    gap: 10px;
}

.carousel-item {
    position: relative;
    background: lightgray;
    border: 1px solid darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel-item.center {
    width: 140px;
    height: 110px;
    z-index: 3;
}

.carousel-item.side {
    width: 110px;
    height: 90px;
    z-index: 2;
}

.carousel-item.outer {
    width: 90px;
    height: 80px;
    z-index: 1;
}

.carousel-thumb {
    width: 80%;
    height: 70%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-number {
    position: absolute;
    bottom: 3px;
    left: 5px;
    font-size: 0.9rem;
}