/*
@font-face {
    font-family: 'Monocraft';
    src: url('https://cdn.jsdelivr.net/gh/IdreesInc/Monocraft@main/dist/Monocraft-ttf/Monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/

:root {
    --primary-color: #09001d;
    --accent-color-light: #220071;
    /*--hover-color: #272832;*/
    /*--accent-color: #0071ff;*/
    --text-color: #c9c9c9;
}

html {
    font-family: sans-serif;
    /*font-size: clamp(1rem, 0.7rem + 0.5vw, 2rem);*/
    color: var(--text-color);
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: max(15vw, 230px) 1fr;
}

aside {
    background: linear-gradient(to left, var(--accent-color-light), 1%, var(--primary-color) 15%);
    padding: 3vh 0.6vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    height: 100dvh;
    min-height: 0;
}

main {
    display: flex;
    flex-direction: column;
    padding: 3vh 0.6vw;
    background: linear-gradient(to right, var(--accent-color-light), 1%, var(--primary-color) max(7%, 50px));
}

.sidebar-header {
    display: flex;
    flex-direction: column;
}

/*.project-row {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    align-items: baseline;*/
/*}*/
/*.project-title {*/
/*    font-size: 1.5rem;*/
/*    line-height: 1;*/
/*    font-weight: 600;*/
/*    border-bottom: 4px solid;*/
/*    border-image: linear-gradient(to right, var(--accent-color-light) 30%, transparent 90%) 1;*/
/*    padding-bottom: 8px;*/
/*    margin-bottom: 24px;*/
/*    flex: 1 1 auto;*/
/*    min-width: 0;*/
/*}*/


.project-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.6vh;
}

.project-title {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 600;
    flex: 1 1 auto;
    min-width: 0;
}

.project-title-text {
    display: block;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    -webkit-mask-image: linear-gradient(to right, #000 75%, transparent 95%);
    mask-image: linear-gradient(to right, #000 75%, transparent 95%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.project-menu-btn {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    cursor: pointer;
    width: 1.8rem;
    height: 1.8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    flex: 0 0 auto;
}

.project-menu-btn svg {
    display: block;
    fill: currentColor;
    height: 75%;
}

.sidebar-header hr {
    border-top: 4px solid;
    border-image: linear-gradient(to right, var(--accent-color-light) 30%, transparent 80%) 1;
    margin-bottom: 2vh;
}

.scene-btn {
    border: none;
    width: fit-content;
    background: transparent;
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    cursor: pointer;
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center;
    line-height: 1;
    gap: 6px;
    margin-bottom: 0.6vh;

    svg {
        display: block;
        fill: currentColor;
        height: 1.4rem;
    }
}

.thumb-grid {
    padding: 10px;
    margin-bottom: 1vh;
    border: 4px solid var(--accent-color-light);
    border-radius: 12px;
    corner-shape: squircle;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, auto));
    grid-auto-rows: auto;
    gap: 8px;
    row-gap: 8px;
    flex: 1;
    align-content: flex-start;
    /*align-items: flex-start;*/
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.thumb-grid::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.thumb {
    border: 1px solid grey;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    /*display: flex;*/
    display: block;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.thumb img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb-number {
    position: absolute;
    bottom: 3px;
    left: 4px;
    /*font-size muss noch angepasst werden*/
    font-size: 0.7rem;
    color: #000;
    text-shadow: 0 0 3px #fff;
}

.sidebar-footer {
    display: inline-flex;
    justify-content: space-between;
    gap: 10px;
}

.sidebar-footer button {
    color: var(--text-color);
    /*background: var(--accent-color-light);*/
    background: radial-gradient(circle, var(--accent-color-light), var(--primary-color));
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    corner-shape: squircle;
    padding: 10px 0;
    flex: 1 1;
    cursor: pointer;
    min-width: 0;
    justify-content: center;
    align-content: center;
}

.preview-panel {
    /*display: grid;*/
    display: inline-flex;
    /*grid-template-columns: repeat(auto-fit, 1fr min(200px));*/
    /*grid-template-columns: 1fr 200px;*/
    /*background: #dedede;*/
    flex: 1;
    /*padding: 1rem;*/
    /*gap: 0;*/
}

.controls {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    /*padding-right: 1rem;*/
    border: 4px solid var(--accent-color-light);
    border-left: 0;
    border-radius: 0 0.7em 0.7em 0;
    corner-shape: squircle;
    /*padding: 0.5rem;*/
}

.selected-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-left: 1rem;*/
}

#onionCanvas {
    width: 100%;
    height: 100%;
    background: black;
}

.carousel {
    margin-top: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 130px;
    position: relative;
    gap: 10px;
}

.carousel-item {
    position: relative;
    background: lightgray;
    border: 1px solid darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.carousel-item.center {
    width: 140px;
    height: 110px;
    z-index: 3;
}

.carousel-item.side {
    width: 110px;
    height: 90px;
    z-index: 2;
}

.carousel-item.outer {
    width: 90px;
    height: 80px;
    z-index: 1;
}

.carousel-thumb {
    width: 80%;
    height: 70%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-number {
    position: absolute;
    bottom: 3px;
    left: 5px;
    font-size: 0.9rem;
}